Meetpunten_Waterkwaliteit_T&H.cpg
Meetpunten_Waterkwaliteit_T&H.dbf
Meetpunten_Waterkwaliteit_T&H.prj
Meetpunten_Waterkwaliteit_T&H.sbn
Meetpunten_Waterkwaliteit_T&H.sbx
Meetpunten_Waterkwaliteit_T&H.shp
Meetpunten_Waterkwaliteit_T&H.shp.xml
Meetpunten_Waterkwaliteit_T&H.shx
Metingen_Nitraat_TH.cpg
Metingen_Nitraat_TH.dbf
Metingen_Nitraat_TH.shp
Metingen_Nitraat_TH.shx
Metingen_Nitraat_TH.xml
